---
title: crossing the street in monterey
file_name: crossing-the-street-in-monterey.jpg
created: Sun Apr 16 2023 20:35:52 GMT-0700 (Pacific Daylight Time)
camera: FUJIFILM X-E2
lens: FUJIFILM XF23mmF1.4 R
iso: 400
fstop: 5.6
---