---
title: Garden
description: Tending the Japanese Friendship Garden.
date: 2023-04-08
---

<img webc:is="eleventy-image" src="cat.jpg" alt="photo of my tabby cat">
<eleventy-image src="cat.jpg" alt="photo of my tabby cat"></eleventy-image>