---
title: white and pink ranicula detail
file_name: white-and-pink-ranicula-detail.jpg
created: Sun Apr 16 2023 20:35:53 GMT-0700 (Pacific Daylight Time)
camera: FUJIFILM X-E2
lens: FUJIFILM XF60mmF2.4 R Macro
iso: 400
fstop: 8
---