---
layout: layouts/base.njk
---
<section class='me'>
  <section class='head-photo-container'>
    <img src='static/img/face.jpg' alt='It Me!' class='head-photo'/>
  </section>
  <section class='about'>
    <ul>
      <li>Christian.</li>
      <li>Grown man.</li>
      <li>Father of 3.</li>
      <li>Cancer survivor.</li>
      <li>Developer of soft wares.</li>
      <li>Scripter of Javas.</li>
      <li>Hobbyist photographer.</li>
    </ul>
  </section>
</section>