---
layout: layouts/base.njk
eleventyNavigation:
	key: Archive
	order: 4
---
<h1>Photo Archive</h1>

{% set photoslist = collections.photos %}
{% set photolistCounter = photoCount %}
{% include "photolist.njk" %}