---
layout: layouts/base.njk
numberOfLatestPhotosToShow: 1 
eleventyNavigation:
	key: Photos
	order: 2
---

{% set photoCount = collections.photos | length %}
{% set latestPhotosCount = photosCount | min(numberOfLatestPhotosToShow) %}
<h1>Photos</h1>

{% set photoslist = collections.photos | head(-1 * numberOfLatestPhotosToShow) %}
{% set photoslistCounter = photosCount %}
{% include "photolist.njk" %}

{% set morephotos = photosCount - numberOfLatestPhotosToShow %}
{% if morephotos > 0 %}
<p>{{ morephotos }} more photo {% if morephotos != 1 %}s{% endif %} <a href="/photo-archive/">the archive</a>.</p>
{% endif %}