@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url("../fonts/opensans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src:  url("../fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fira_coderegular';
  src:  url("../fonts/FiraCode-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: open_sansregular }

header {
  overflow: hidden;
  padding-top: 20px; 
  padding-bottom: 40px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #a0a5ae; 
}

nav .links, 
nav .brand {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

nav .links {
  flex-direction: row;
} 

nav .links a {
  padding: 5px 15px;
  color: #a0a5ae;
  font-size: 1.5rem; 
  display: flex;
  flex-direction: column;
  font-size: .95rem;
  text-align: center;
}

nav .links a:hover {
  text-decoration: none;
  color: #e74c3c; 
}

nav .links i:hover {
  text-decoration: none;
}

header img {
  float: left;
}

header .container {
  overflow: hidden;
}

a {
  color: #e74c3c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  margin: 0;
  padding: 0 0 20px 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  padding: 0 0 10px 0;
  line-height: 2.33rem;
}

h1 {
  font-family: open_sansextrabold;
  margin-top: 0;
}

h2 {
  font-family: open_sanssemibold;
}

h3 {
  font-family: open_sansregular;
  font-style: italic;
}

blockquote {
  padding: 10px;
  margin: 20px 0 20px 20px;
  border-left: 1px solid #bdc3c7;
  color: #7f8c8d;
}

blockquote p {
  margin: 0;
}

p code {
  padding: 2px 5px;
  background: #ecf0f1;
  color: #7f8c8d;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  font-size: .8rem;
}

footer {
  font-family: open_sanslight;
  font-size: 15px;
  padding: 20px 0;
  text-align: center; }

.me{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-img {
  background: url('/static/images/dome.jpg');
  background-size: 1500px;
  width: 1440px;
  height: 350px;
  background-position: 50%;
}

.head-photo-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 5px solid #e74c3c;
  border-radius: 50%;
  position: relative;
  top: -90px;
  display: flex;
}

.head-photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.about {
  position: relative;
  font-family: open_sanslight;
  font-size: 32px;
  text-align: center;
  top: -75px;
}

.post-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.post-list .fa-star {
  margin-right: 10px
}

.post-title {
  margin-bottom: 40px;
}

.container {
  max-width: 800px;
  padding: 0 40px;
  margin: 0 auto;
}

.main {
  padding: 65px 0px 20px 0px;
  background-color: #fefefe;
  color: #131313;
}

p {
  margin: 0px 0px 20px 0;
  line-height: 1.65rem;
}

li {
  line-height: 1.65rem;
  padding: 5px;
}

.cv h1{
  margin-bottom: 0;
  padding-bottom: 5px;
}

.cv section{
  margin: 20px 0;
  padding-top: 20px;
  border-top: 1px solid #BDC3C7;
}

.cv .meta{
  position: absolute;
  display: inline-block;
}

.cv .meta p{
  margin: 0;
}

.cv .description{
  position: relative;
  display: inline-block;
  width: 65%;
  left: 33%;
}

.cv .bingo{
  font-size:.8rem;
}

.talks img {
  width: 100%;
  border-radius: 4px;
  border: 5px solid white;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.talks .meta p {
  font-size: 12px;
  color: #BDC3C7;
  margin: 0;
  line-height: auto;
}

.talks article{
  margin-bottom: 10px;
  border-bottom: 1px solid #BDC3C7;
}

.talks article:last-of-type{
  margin-bottom: 0;
  border-bottom: none;
}

.talks a:hover img{
  border-color: #e74c3c;
}
