<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/445a7275ad.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>thunklife - $title$</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="stylesheet" href="/static/css/syntax.css">
  </head>
  <body>
    <div class='container'>
      <header>
        <nav>
          <div class="brand">
            <a href="/">thunklife</a>
          </div>
          <div class="links">
            <a href="/blog.html" title="Posts"><i class="fa fa-file"></i>blog</a>
            <a href="/talks.html" title="Talks"><i class="fa fa-quote-left"></i>talks</a>
            <a href="/cv.html" title="CV"><i class="fa fa-address-card"></i>cv</a>
            <a href="https://twitter.com/thunk_life" title="Twitter" target="_blank"><i class="fa fa-twitter"></i>twitter</a>
            <a href="https://github.com/thunklife" title="Github" target="_blank"><i class="fa fa-github"></i>github</a>
            <a href="https://flickr.com/photos/139190403@N04/" title="Github" target="_blank"><i class="fa fa-flickr"></i>flickr</a>
          </div>
        </nav>
      </header>
      <article id="main">
        $body$
      </article>
      <footer><i class="fa fa-hand-peace-o"></i></footer>
    </div>
  </body>
</html>
