---
layout: layouts/base.njk
---

<h1>{{title}}</h1>
<article class="photo-content">
	<div class="frame">
		{{content | safe}}
	</div>
	<footer class="img-meta">
		<p>{{description}}</p>
		<time datetime="{{ date | htmlDateString }}">{{ date | readableDate("DD") }}</time>
	</footer>
</article>

